@import url('~/views/what-is-new-common.css');

.news-card {
    margin: 12 12 0 12;
}

.title {
    font-size: 14;
}
.body {
    font-size: 14;
}
.learn-more {
    font-size: 14;
}
.date {
    font-size: 12;
}

.empty-placeholder {
    vertical-align: center;
    text-align: center;
}