#app {
    background-color: lightyellow;
}

.ui-tests-app-issue-1639-red {
    color: red;
    margin-left: 0;
}

.ui-tests-app-issue-1639-green {
    color: green;
    margin-left: 10;
}

.ui-tests-app-issue-1639-blue {
    color: blue;
    margin-left: 20;
}

.ui-tests-app-issue-1639-yellow {
    color: yellow;
    margin-left: 30;
}

.ui-tests-app-issue-ng-1453-yellow {
    color: yellow;
    background-color: black;
}

.ui-tests-app-issue-ng-1453-pink {
    color: pink;
}

.ui-tests-app-issue-ng-1453-base {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
