# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules
package-lock.json
yarn-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
apps/**/*/*.js
apps/**/*/*.map
apps/**/*/platforms
apps/**/*/webpack.*.js
*.tgz

# System Files
.DS_Store
Thumbs.db

# core
# https://github.com/NativeScript/nativescript-dev-webpack/issues/932
!packages/core/xml/index.js