.github
.gitignore
.npmignore
*.yml
.vscode
build
coverage
dist
e2e
js-libs
platforms
tests
packages/types-android
packages/types-ios
packages/ui-mobile-base
tools/assets/App_Resources
*.cmd
*.md
*.json
*.js
*.map
*.css
*.scss
*.sh