# Ignore artifacts:
.github
*.yml
.vscode
api-reports
apps
build
coverage
dist
e2e
js-libs
platforms
tests
tns-core-modules-package
tns-core-modules-widgets
tns-platform-declarations
temp
unit-tests
*.md
*.json
*.js