Button {
    background-color: red;
    background-image: url('~/resources/images/gravatar2.png');
    background-position: center;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    width: 100;
    height: 100;
    margin-bottom: 100;
}

.scale-up {
    transform: scale(2, 2);
}

.scale-down {
    transform: scale(0.5, 0.5);
}
