.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9,
.c10,
.c11,
.c12 {
    width: 30;
    height: 30;
    background-size: 100% 100%;
    background-color: yellow;
    margin: 1;
}

.c1,
.c3,
.c5 {
    background-image: url("~/the-never-found-unicorn.png");
}

.c2,
.c4,
.c6 {
    background-image: url("~/resources/images/no-image.png");
}

.c7,
.c9,
.c11 {
    background-image: url("res://theneverfoundunicorn");
}

.c8,
.c10,
.c12 {
    background-image: url("res://testlogo");
}

.c3,
.c4,
.c9,
.c10 {
    border-radius: 10;
}

.c5,
.c6,
.c11,
.c12 {
    border-radius: 5 10 15 20;
}
