doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  section.logos
    img(src="images/habitat-logo-by-chef.svg" alt="Habitat logo")
    img(src="images/nodejs-logo.svg" alt="NodeJS logo")

  footer
    img.habicat-jumping(src="images/image-cat-jumping.svg" alt="Habicat jumping")
    img.habicat-set(src="images/image-cat-set.svg" alt="Habicat standing with package")
