.complex {
    width: 45;
    height: 45;
    margin: 1;
    background-image: url('~/gallery-app/animations/bkg.png'); 
    background-repeat:repeat-x; 
    background-position: 20% 80%; 
    background-color: lightyellow; 
    background-size: 25% 50%; 
    border-radius: 20; 
    border-width: 4; 
    border-color: red;
}

.simple {
    width: 45;
    height: 45;
    margin: 1;
    border-radius: 20;
    background-color: lightgreen; 
}

.none {
    width: 45;
    height: 45;
    margin: 1;
}