.font-awesome {
    font-family: "FontAwesome";
}

.font-size {
    font-size: 36;
}

TabStripItem:active {
    background-color: magenta;
}

.defaultCssClass {
    background-color: #79d2a6;
    highlight-color: green;
    selected-item-color: yellow;
    un-selected-item-color: blue;
}

.newTabsClass {
    background-color: orangered;
    highlight-color: lightgreen;
    selected-item-color: whitesmoke;
    un-selected-item-color: pink;
}