.font-awesome {
    font-family: "FontAwesome";
}

.font-size {
    font-size: 36;
}


/* TabStrip {
    color: mediumvioletred;
}

TabStripItem {
    color: skyblue;
}

TabStripItem:active {
    color: darkblue;
} */