#container {
    border-color: black;
    border-width: 1;
    margin: 5;
}
#container>Label {
    border-width: 2;
    border-color: black;
    border-radius: 5;
}
#container>Label[selected="yes"] {
    border-color: gray;
}