#button1 {
    border-color: transparent;
    border-width: 3;
    background-color: white;
}

#button2 {
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 3;
    background-color: white;
}

#button3 {
    border-width: 3;
    background-color: white;
}