.btn1 {
    background-color: lightgreen;
    color: coral;
    font-size: 50;
    font-family: sans-serif;
}

.btn2 {
    background-color: lightgreen;
    color: lightblue;
    font-size: 30;
    font-family: monospace;
}
