legacy-peer-deps=true

# npm 9+ this defaults to `true` meaning `file:` dependencies are packed and then installed
# but since we want to link the source files in this case, we disable this behavior and
# opt to link the dependency as-is instead. (eg. @nativescript/core)
install-links=false
