.header{
    font-weight: bold;
}

.component-label{
    width: 100%;
}

.component-select-fix{
    text-align: right;
    vertical-align: middle;
    padding-right: 8;
}

.view-code-segment{
    height: 5%;
    width: 100%;
}

.go-back{
    font-family: "ns-playground-font";
    font-size: 30;
    color: #3350ff;
}

.header-label{
   padding-top: 5%;
   padding-left: 35%;
   font-weight: bold;
}

.components-header-label{
    text-align: center;
    font-weight: bold;
}

.components-link{
    color: #3350ff;
    padding-top: 5%;
    margin-left: -2%;
}

.navigation-bar{
    height: 7%;
}

.navigation-bar-components{
    height: 7%;
}

.custom-segmented-bar-border-fix{
    border-radius: 5px;
    border-width: 2px;
    font-size: 14px;
}

.selected-segment{
    color: #f4f4f5;
    padding-top: 5%;
    background-color: #3350ff;
    text-align: center;
}

.unselected-segment{
    color: #3350ff;
    padding-top: 5%;
    text-align: center;
}

.action-item-details{
    color: #007aff;
}

.listview-separator{
    background-color: #949494;
    margin-left: 70;
    height: 1px;
}

.icon-around{
    background-color: #3350ff;
    height: 40;
    width: 40;
    border-radius: 5;
    vertical-align: middle;
    text-align: center;
    min-width: 40;
    margin-right: 15;
}

.list-group {
    margin-top: 7;
}
