@import '~nativescript-theme-core/css/core.light.css';
@import './app-platform.css';

/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn-view-demo {
  background-color: #65ADF1;
  border-radius: 5;
  font-size: 17;
  padding: 15;
  font-weight: bold;
}

.bold{
  font-weight: bold;
}

.controls Label {
    font-size: 20;
    font-weight: bold;
    color: #333;
    margin-top: 10;
}

.controls Button {
    padding: 10 15;
    margin: 5;
    font-size: 17;
    font-weight: bold;
    color: #65ADF1;
    border-radius: 5;
    border-width: 1;
    border-color: #65ADF1;
}

.box-shadow-demo .demo-component {
    font-size: 20;
    font-weight: bold;
    color: #555;
    border-color: #555;
    margin: 10;
    padding: 20 25;
    text-transform: uppercase;
}

.box-shadow-demo .box-shadow-prop-controls {
    padding: 10;
    color: #333;
    font-size: 17;
}

.box-shadow-demo .box-shadow-prop-controls TextField{
    margin-left: 10;
    padding: 5;
    border-bottom-width: 1;
    border-color: #65ADF1;
}

.box-shadow-demo .controls .description {
    font-size: 15;
    font-weight: normal;
    color: #333;
    margin-bottom: 10;
}

.box-shadow-demo .controls Button[selectedAttr=true] {
    background-color: #65ADF1;
    color: #fff;
}

.box-shadow-prop-controls .btn-apply {
    background-color: #65ADF1;
    color: #fff;
    padding: 10 15;
    border-radius: 4;
    margin-left: 10;
    font-size: 17;
    font-weight: bold;
}

.sample-animation {
    animation-name: rotate-expand;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes rotate-expand {
    0%, 50% { background-color: red; width: 200; transform: rotate(0) scale(1,1); }
    25%, 75% { background-color: yellow; width: 100; transform: rotate(180) scale(1.2,1.2); }
    100% { background-color: red; width: 200; transform: rotate(0) scale(1,1); }
}


.icon-label{
    font-size: 22;
    font-family: "ns-playground-font";
    text-align: center;
    vertical-align: middle;
    color: white;
}

.component-select{
    text-align: right;
    font-family: "ns-playground-font";
    font-size: 22;
}

.component-code{
    height: 100%;
    vertical-align: top;
}

.code-text-view{
    padding: 30px;
}

.custom-segmented-bar-root{
    width: 100%;
    padding-bottom: 10%;
}

.custom-segmented-bar-border{
    width: 80%;
    border-color: #3350ff;
    height: 5%;
}

.component-details-layout{
    padding: 40px;
}

.description-textview{
    font-size: 18px;
}

.va-middle{
    vertical-align: middle;
}

.image-text {
    text-align: center;
    color: gray;
    padding-left: 15;
    padding-right: 15;
    font-size: 13;
}

.image-item {
    margin-top: 15;
}

.image-button {
    padding-top: 15px;
}

.img-circle {
	border-radius: 50%
}

.list-view-row {
    padding: 7 0 7 15;
}

.list-group .list-group-item {
	padding: 8;
	margin: 0
}

.list-group .list-group-item Label {
    padding: 7;
}

.list-group .thumb {
	stretch: fill;
	width: 40;
	height: 40;
	margin-right: 16
}

.list-group .list-group-item-heading {
	margin-bottom: 5
}

.a11y-demo-page .view-item {
  margin-bottom: 12;
  font-size: 18;
}

.a11y-demo-page .a11y {
  a11y-enabled: true;
}

.a11y-demo-page .a11y-role-image {
  a11y-role: image;
}

.a11y-demo-page .a11y-state-checked {
  a11y-state: checked;
}