.direct-child--type > Button {
  background-color: red;
  color: white;
}

.direct-child--class > .test-child {
  background-color: blue;
  color: white;
}

.direct-sibling--type Button + Button {
  background-color: green;
  color: white;
}

.direct-sibling--class .test-child + .test-child {
  background-color: yellow;
}

.sibling-test-label {
  text-align: center;
}
