.first-child Button:first-child {
  background-color: red;
  color: white;
}

.last-child Button:last-child {
  background-color: blue;
  color: white;
}

.sibling-test-label {
  text-align: center;
}
