BottomNavigation {
  background-color: gold;
}

TabContentItem.special {
  background-color: olive;
}

TabStrip {
  background-color: skyblue;
}

TabStripItem.special {
  background-color: teal;
}

TabStripItem.special:active {
  background-color: yellowgreen;
}
