.font-awesome {
  font-family: "FontAwesome";
}

.font-size {
  font-size: 36;
}

TabStripItem.special Image {
  color: teal;
}

TabStripItem.special:active Image {
  color: purple;
}

TabStripItem.special Label {
  color: gold;
}

TabStripItem.special:active Label {
  color: olive;
}