BottomNavigation {
  text-transform: lowercase;
}

TabContentItem.special {
  text-transform: uppercase;
}

TabStrip {
  text-transform: capitalize;
}

TabStripItem.special {
  text-transform: lowercase;
}

TabStripItem.special:active {
  text-transform: uppercase;
}
