.title {
    font-size: 20;
    margin: 3;
}

.author {
    font-size: 14;
    horizontal-align: left;
    vertical-align: bottom;
    margin: 3;
}

.comments {
    background: linear-gradient(to right, #06beb6, #48b1bf);
    font-size: 14;
    vertical-align: bottom;
    margin: 3;
}

.thumbnail {
    width: 72;
    height: 72;
    margin: 3;
    vertical-align: top;
}

TabView {
    background-color: white;
}
