<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nativescript.layouts"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true">
    </application>

</manifest>