.content {
    padding: 10;
    background-color: white;
}

.header {
    font-size: 24;
    color: #3c3c3c;
}

.field-group {
    margin: 0 0 10 10;
}

.field, .field-value, .field-unit, .field-dialog-button {
    font-size: 16;
    vertical-align: center;
}

.field, .field-unit {
    color: #3c3c3c;
}

.field-value, .field-dialog-button {
    color: #808080;
    text-align: right;
}

.field-dialog-button {
    horizontal-align: left;
    background-color: white;
}

.field-unit {
    margin: 0 0 0 2;
}
