Label, Button, Image {
    margin: 0 5;
}

.page-title {
    font-size: 18;
    color: #fac950;
}

.favourite-image{
     width: 32;
     height: 32; 
     vertical-align: center;
     margin: 20;
}

.info {
    color: #555555;
}

.info-bigger {
    color: #555555;
    font-size: 18;
}

.info-orange {
    font-size: 16;
    color: #A17201;
}

.break-row {
    padding: 5;
    background-color: #FFFBF0;
}

.list-view-row {
    padding: 5;
}

.section-header {
    color: #A17201;
    margin: 5 5 0 5;
}

.horizontal-line {
    height: 1;
    background-color: #FAC950;
    margin: 5 5 0 5;
}
