@import '~@nativescript/theme/css/core.css';
@import '~@nativescript/theme/css/default.css';

.btn {
    font-size: 18;
}

.home-panel{
    vertical-align: center;
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-bottom: 15;
}
