#home-page {
    font-size: 8;
    margin: 0px;
    padding: 0px;
}

#action-bar-home-page{
    font-size: 10;
    margin: 0px;
    padding: 0px;
}

#home-page Button {
    margin-bottom: 5px;
    border-color: gray;
    border-width: 2px;
    border-radius: 8px;
    padding: 0px;
}