
#home-page {
    font-size: 13;
    margin: 0px;
    padding: 0px;
}

#home-page Button {
    margin-bottom: 20px;
    padding: 20px;
    border-color: gray;
    border-width: 2px;
    border-radius: 8px;
}