Button, Label, TextView, TextField {
    border-color: black;
    border-width: 10;
    border-radius: 3;
    padding: 10;
    /*padding-left: 20;
    padding-top: 20;
    padding-right: 20;
    padding-bottom: 20;*/
    margin: 10;
    font-size: 24;
    text-align: left;
    color: black;
}