Button {
    font-size: 8;
    padding: 0;
    margin: 0;
    height: 30px;
    color: blue;
}

TextView {
    font-size: 8;
    margin: 0;
    padding: 0;
    color: green;
}

Label {
    font-size: 8;
    margin: 0;
    padding: 0;
}

GridLayout {
    margin: 0;
    padding: 0;
}

ActionBar {
    height: 20;
    margin: 0;
}