.original {
    transform: none;
}

.transformed {
    animation-name: transformed;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes transformed {
    from { transform: none; }
    30%  { transform: translate(100, 100); }
    55%  { transform: translate(0, 0) scale(3, 3); }
    75%  { transform: scale(1, 1) rotate(180); }
    to  { transform: rotate(0); }
}
