#container {
    border-color: black;
    border-width: 1;
    margin: 5;
}

#container>Label {
    border-width: 2;
    border-color: black;
    border-radius: 5;
}

#container>Label[selected="yes"] {
    border-color: gray;
}

.control {
    font-size: 11;
}

.control FlexboxLayout {
    border-width: 0 0 1 1;
    border-color: gray;
}

.control Button {
    android-elevation: 0;
    border-width: 1 1 0 0;
    border-color: gray;
    font-size: 9;
    padding: 0;
    height: 0;
}
